        /* Style tag for the body */
        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        /* Calling the class for images in the container */
        .contain-pics {
            display: flex;
            justify-content: center;
        }

        /* Calling the class for images directly */
        .contain-pics img {
            width: 200px;
        }

        /* styling the text */
        .text {
            text-align: center;
        }

        /* Srtyling the Footer */
        .footer {
            background: black;
            color: white;
            text-align: center;
            font-size: 10px;
            padding: 10px;
        }

        /* Using media queries for the smallest screen */
        @media screen and (max-width: 479px) {
            .contain-pics {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .contain-pics img {
                width: 100%;
                margin: 10px;
            }

            .text p {
                width: 100%;
                margin: 0 auto;
                text-align: left;
            }
        }

        /* Using media queries for the medium screen */
        @media screen and (min-width: 480px) and (max-width: 799px) {
            .contain-pics {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .contain-pics img {
                width: 100%;
                margin: 10px;
            }

            .text p {
                width: 100%;
                margin: 0 auto;
                text-align: left;
            }
        }

        /* Using media queries for the large screen */
        @media screen and (min-width:800px) {
            .contain-pics {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }

            .contain-pics img {
                width: 100%;
                margin: 0;
            }

            .text p {
                width:100% ;
                margin: 0;
                text-align: left;
            }
        }

        /* Using media queries for the Largest screen */
        @media screen and (min-width: 1024px) {
            .contain-pics {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            .contain-pics img {
                width: 100%;
                margin: 0;
            }

            .text {
                text-align: left;
            }
        }

        /* Using media queries for the screen wider than 1024px */
        @media screen and (min-width:1025px) {
            .main1 {
                width: 1100px;
                margin: auto;
            }
        }